.social-menu {
    position: absolute;
    top: $dividerPrimary;
    right: $dividerPrimary;
    display: flex;
    height: 0;
    font-size: $socialMenuIconSize;
    z-index: $socialMenuZIndex;

    polygon {
        transition: fill $effectPrimary;
    }

    > a {
        display: block;
        margin-right: $dividerPrimary;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            color: $primary;

            polygon {
                fill: $primary!important;
            }
        }
    }

    .svg-link {
        transform: scale($socialMenuIconSize / 50px);
        transform-origin: top right;
    }

    .freelancer-icon {
        g {
            transform: translateY(-25%);

            polygon {
                fill: #FFF;
            }
        }
    }
}