@mixin divideChildren(){
    > * {
        margin-bottom: $margin3;
    }

    > *:last-child {
        margin-bottom: 0;
    }
}

@mixin overlay(){
    &:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }
}

@mixin backgroundLink($background, $overlay, $overlayHover){
    position: relative;
    background-size: cover;
    background-color: $background;
    background-position: center center;
    background-blend-mode: hard-light;
    user-select: none;
    box-shadow: $backgroundLinkShadow;
    @include overlay();

    > * {
        z-index: $overlayContainerZIndex;
    }

    &:hover {
        color: inherit;

        &:after {
            background-color: $overlayHover;
        }
    }

    &:after {
        background-color: $overlay;
        transition: background 250ms ease-out;
    }
}

@mixin primaryBackgroundLink(){
    @include backgroundLink($primary, rgba($primary2, 0.6), rgba($primary2, 0.4));
}

@mixin projectBackgroundLink(){
    @include backgroundLink($primary, rgba($primary2, 0.5), rgba($primary2, 0.95));
}

@mixin rainbowPage(){
    background-color: rgba($secondary, .75);
    @include overlay();

    &:after {
        background-image: url("/images/rainbow.jpg");
        background-size: cover;
        z-index: $overlayZIndex;
    }
}