//----------------------------------------------
// Effects
//----------------------------------------------
@mixin standardHoverEffect(){
    transition: .2s ease-out;
}

@mixin overlay(){
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

@mixin pulsingRainbowBackground(){
    animation-name: fadeBackground;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    will-change: background-color;

    &:after {
        background-image: url(/images/4.jpg);
        @include overlay();
        z-index: -1;
        content: '';
        background-size: cover;
    }
}