//----------------------------------------------
// Effects
//----------------------------------------------
@mixin standardHoverEffect(){
    transition: .2s ease-out;
}

@mixin divideChildren(){
    > * {
        margin-bottom: $margin3;
    }

    > *:last-child {
        margin-bottom: 0;
    }
}

@mixin overlay(){
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

@mixin backgroundLink($background, $overlay, $overlayHover){
    position: relative;
    background-color: $background;
    background-size: cover;
    background-position: center center;
    background-blend-mode: hard-light;
    user-select: none;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.4);

    > * {
        z-index: 2;
    }

    &:hover {
        color: inherit;

        &:after {
            background-color: $overlayHover;
        }
    }

    &:after {
        @include overlay();
        background-color: $overlay;
        transition: background 250ms ease-out;
    }
}

@mixin pulsingRainbowBackground(){
    animation-name: fadeBackground;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    will-change: background-color;

    &:after {
        background-image: url(/images/4.jpg);
        @include overlay();
        z-index: -1;
        content: '';
        background-size: cover;
    }
}