//----------------------------------------------
// Colors
//----------------------------------------------
$primary: #16ADE3;
$primary2: #2C344A;
$secondary: #1D1D1F;
$placeholder: #495057;
$disabled: rgba(lighten($bGray, 20%), .8);

//----------------------------------------------
// Primary
//----------------------------------------------
$headingPrimary: 48px;
$dividerPrimary: 15px;
$effectPrimary: .2 ease-out;
$fontPrimary: "Heebo", "Helvetica Neue", Arial, Helvetica, sans-serif;
$borderPrimary: 1px solid rgba(34, 36, 38, 0.15);

//----------------------------------------------
// Z-Index
//----------------------------------------------
$overlayZIndex: -1;
$overlayContainerZIndex: 2;
$mainMenuZIndex: 2;
$socialMenuZIndex: 3;

//----------------------------------------------
// Component Specific
//----------------------------------------------
$inputBg: rgba(255, 255, 255, .9);
$inputColor: #000;
$inputError: rgba(#FDF5F5, .9);
$pageColor: #FFF;
$googleMapHeight: 500px;
$projectAlertSidebarWidth: 350px;
$socialMenuIconSize: 16px;
$backgroundLinkShadow: 0 6px 14px rgba(0, 0, 0, 0.4);