#projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;

    .project {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 225px;
        @include backgroundLink($primary, rgba($primary2, 0.3), rgba($primary2, 0.95));
        cursor: pointer;

        .title {
            font-size: $h4;
            font-weight: 300;
            display: none;
        }

        &:hover {
            .title {
                display: block;
            }
        }
    }
}

#project-modal {
    display: grid;
    grid-template-columns: 1fr 350px;
    grid-template-areas: "gallery description";

    .project-description {
        grid-area: description;
        border-left: 1px solid rgba(34, 36, 38, 0.15);
        padding-left: 20px;
        margin-left: 20px;
        white-space: pre-wrap;
        word-break: keep-all;
        word-wrap: break-word;
    }

    .project-gallery {
        grid-area: gallery;
        text-align: center;
    }
}

@media (max-width: $mediaLarge) {
    #projects {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: $mediaMedium) {
    #projects {
        grid-template-columns: 1fr 1fr;
    }

    #project-modal {
        grid-template-columns: 1fr;
        grid-template-areas: initial;

        .project-description {
            grid-area: initial;
            margin-left: 0;
            margin-bottom: 15px;
            padding-bottom: 15px;
            padding-left: 0;
            border-bottom: 1px solid rgba(34, 36, 38, 0.15);
            border-left: none;
        }

        .project-gallery {
            grid-area: initial;
        }
    }
}

@media (max-width: $mediaSmall) {
    #projects {
        grid-template-columns: 1fr;
    }
}
