body {
    position: relative;
    background-color: $secondary;
}

#react-app {
    @include pulsingRainbowBackground();
}

.section-loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include divideChildren();
}