/*----------------------------------------
 * Header
 *----------------------------------------*/
@keyframes fadeBackground {
    from {
        background-color: rgba($secondary, .75);
    }

    to {
        background-color: rgba($secondary, .5);
    }
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation-name: fadeBackground;
    animation-timing-function: ease-in-out;
    animation-duration: 20s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    will-change: background;
    color: #FFF;

    &:after {
        background-image: url(/images/4.jpg);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        content: '';
        background-size: cover;
    }

    h1 {
        font-size: 64px;
    }

    p {
        font-size: $display6;
        font-weight: lighter;
    }

    #main-menu {
        width: 100%;
        position: absolute;
        top: 0;
        z-index: 2;

        a,
        .menu-item {
            font-weight: 300;

            &:hover,
            &.active {
                color: $primary!important;
                background-color: inherit;
            }
        }
    }
}



@media (max-width: $mediaSmall) {
    #header {
        h1 {
            font-size: $display3;
        }

        p {
            font-size: $h3;
        }

        #main-menu {
            .menu:last-child {
                align-items: flex-start;
                transition: .4s all ease-out;
                transform: translateX(-100%);
            }

            &.mobile-menu-open {
                background-color: #2C344A;

                .menu:last-child {
                    transform: scale(1) translateX(0);
                }
            }

            .menu:first-child {
                flex: 1;
            }
        }
    }
}