.input {
    font-size: 16px;
    border-radius: 2px;
    box-shadow: none;
    border: none;
    padding: $padding4;
    background-color: lighten($secondary, 80%);
    color: $secondary;

    &::placeholder {
        color: lighten($secondary, 50%);
    }
}