.input {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #fff;
    background-clip: padding-box;
    font-size: $h5;
    border-radius: 2px;
    line-height: 1.5;
    box-shadow: none;
    border: none;
    color: #495057;

    &::placeholder {
        font-size: $h5;
        color: #495057;
    }
}