/*----------------------------------------
 * Page
 *----------------------------------------*/
.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: $padding4;
    height: 100vh;
    text-align: center;
    color: #FFF;
    @include pulsingRainbowBackground();
}