/*----------------------------------------
 * Repositories
 *----------------------------------------*/
.repositories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;

    .repository {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 15px;
        position: relative;
        min-height: 225px;
        @include backgroundLink($primary, rgba($primary2, 0.6), rgba($primary2, 0.4));

        i {
            position: absolute;
            top: 15px;
            right: 15px;
            font-size: $display6;
        }

        .title {
            font-size: $display4;
            font-weight: 300;
        }

        .date {
            position: absolute;
            top: 15px;
            left: 15px;
            font-weight: lighter;
        }
    }
}

@media (max-width: $mediaLarge) {
    .repositories {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: $mediaMedium) {
    .repositories {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: $mediaSmall) {
    .repositories {
        grid-template-columns: 1fr;
    }
}
