/*----------------------------------------
 * Repositories
 *----------------------------------------*/
.repositories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    width: 100%;

    .repository {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 15px;
        flex-direction: column;
        position: relative;
        min-height: 225px;
        border-radius: 5px;
        background-color: $primary;
        background-size: cover;
        background-position: center center;
        background-blend-mode: hard-light;
        background-repeat: no-repeat;
        box-shadow: 0 6px 14px rgba(0, 0, 0, 0.4);
        transition: box-shadow 150ms ease-out;
        outline: none;

        i {
            position: absolute;
            top: 15px;
            right: 15px;
            font-size: $display6;
        }

        > * {
            z-index: 2;
        }

        .title {
            font-size: $display4;
            font-weight: 300;
        }

        .date {
            position: absolute;
            top: 15px;
            left: 15px;
            font-weight: lighter;
        }

        &:hover {
            color: inherit;

            &:after {
                background-color: rgba($primary2, 0.4);
            }
        }

        &:after {
            @include overlay();
            z-index: 1;
            border-radius: 5px;
            background-color: rgba($primary2, 0.6);
            pointer-events: none;
            transition: background 250ms ease-out;
        }
    }
}

@media (max-width: $mediaLarge) {
    .repositories {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: $mediaMedium) {
    .repositories {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: $mediaSmall) {
    .repositories {
        grid-template-columns: 1fr;
    }
}
