#projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: $dividerPrimary;

    .project {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 225px;
        @include projectBackgroundLink();
        cursor: pointer;

        .title {
            font-size: $h4;
            font-weight: 300;
            display: none;
        }

        &:hover {
            .title {
                display: block;
            }
        }
    }
}

#project-alert {
    display: grid;
    grid-template-columns: 1fr 0fr;
    grid-template-areas: "gallery description";

    .project-description {
        grid-area: description;
        border-left: $borderPrimary;
        padding-left: $dividerPrimary;
        margin-left: $dividerPrimary;
        white-space: pre-wrap;
        word-break: keep-all;
        word-wrap: break-word;
    }

    .project-gallery {
        grid-area: gallery;
        text-align: center;
    }
}

@media (max-width: $mediaLarge) {
    #projects {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: $mediaMedium) {
    #projects {
        grid-template-columns: 1fr 1fr;
    }

    #project-alert {
        display: block;

        .project-description {
            margin-left: 0;
            margin-bottom: $dividerPrimary;
            padding-bottom: $dividerPrimary;
            padding-left: 0;
            border-bottom: $borderPrimary;
            border-left: none;
        }
    }
}

@media (max-width: $mediaXSmall) {
    #projects {
        grid-template-columns: 1fr;
    }
}
