/*----------------------------------------
 * Repositories
 *----------------------------------------*/
#repositories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;

    .repository {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: $dividerPrimary;
        min-height: 225px;
        @include primaryBackgroundLink();

        i {
            position: absolute;
            top: $dividerPrimary;
            right: $dividerPrimary;
            font-size: $display6;
        }

        .title {
            font-size: $display4;
            font-weight: 300;
        }

        .date {
            position: absolute;
            top: $dividerPrimary;
            left: $dividerPrimary;
            font-weight: lighter;
        }
    }
}

@media (max-width: $mediaLarge) {
    #repositories {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: $mediaMedium) {
    #repositories {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: $mediaSmall) {
    #repositories {
        grid-template-columns: 1fr;
    }
}
